#hd_info {
  display: none;
}

#wrapper {
  margin-top: 0 !important;
}

#main_content {
  margin-top: 0 !important;
}

#left_content {
  border: none;
}

#header, #nav_zone, #guide_detail, #guide_de {
  display: none;
}

#right_content {
  display: none;
}

#panelTags, #PreNextArtilceId, #article_A4area {
  display: none;
}

div.ad_bottom {
  display: none;
}

#footer {
  display: none;
}
