app-external-sign-in-providers.ng-tns-c122-1 {
  display: none;
}

mat-hint > a.ng-tns-c122-1 {
  display: none;
}

div.grecaptcha-logo {
  display: none !important;
}


/* hide the register tag */
div.footer:last-child {
  display: none !important;
}