app-external-sign-in-providers.ng-tns-c122-1 {
  display: none;
}

mat-hint > a.ng-tns-c122-1 {
  display: none;
}

div.grecaptcha-logo {
  display: none !important;
}


/* hide the register tag */
div.footer > div:not(.error-message) {
  display: none !important;
}

/* disable the login title click */
a.mat-tooltip-trigger {
  pointer-events: none;
  text-decoration: none;
}