/* mobile */
#hd_top,
#header,
#footer {
  display: none;
}

#app_bar,
#right_sidebar {
  display: none;
}

div.main_nav {
  display: none;
}

#lnk_inbox,
#lnk_outbox,
#lnk_unread {
  display: none !important;
}

/* ipad */