#header {
  display: none;
}

#second_nav, #right_sidebar, #footer {
  display: none;
}

div.main_nav {
  display: none;
}

a {
  pointer-events: none;
  text-decoration: none;
}

/* ipad */
div#hd_top {
  display: none;
}

div#app_bar {
  display: none;
}

div#google_ad_bottom {
  display: none;
}