/* mobile */
#article_A4area, #e4, #news_more_info {
  display: none;
}

div#guide {
  display: none !important;
}

div#news_main {
  margin-top: 0;
  border-top: none;
}

.prevnext_block {
  display: none;
}

#footer {
  display: none;
}

#comment_main, #comment_tips, #comment_form_block, #E5 {
  display: none;
}

/* ipad */
