#header {
  display: none;
}

#footer {
  display: none;
}

#middle-div {
  display: none;
}

#panelAnswer {
  display: none;
}

div.main_nav {
  display: none;
}


/* ipad */
div#hd_top {
  display: none;
}

div#app_bar {
  display: none;
}

div#google_ad_bottom {
  display: none;
}